.main {

  padding: $main-padding;
  background-color: $main-background-color;
  width: $main-width;
  min-height: $viewport-height;
  margin: $centering-margins;
  @include mobile {
    padding: $main-padding-mobile;
  }
  @include tablet {
    padding: $main-padding-tablet;
  }
}
