/*********************
  Headers
**********************/

h1 {
  @extend %header-style;
  font-size: $header-one-size;
}

h3 {
  @extend %section-style;
  font-size: $section-size;
}

p {
  @extend %text-style;
  font-size: $paragraph-size;
}
