%all-elements {
  @include box-sizing();
}

%vertical-spacing {
  margin-top: $text-margins;
  &:last-child {
    margin-bottom: $text-margins;
  }
}

%centered {
	text-align: center;
	margin: 0 auto;
}

%header-footer-palette {
  color: $primary-color;
  background-color: $header-footer-color;
}

%clearfix {
 &:after {
  	content: "";
    display: block;
    clear: both;
  }
}

%sticky {
  @extend %header-footer-palette;
  width: 100%;
  position:fixed;
}

%text-style {
  @include text-style($text-font, $text-weight, $text-line-height);
}

%section-style {
  @include text-style($text-font, $text-weight, $text-line-height);
  padding: $vertical-spacing $horizontal-spacing;
  padding-left: $horizontal-spacing+$section-letter-spacing; /*accommodates for the letter-spacing*/
  text-transform: $section-transform;
  letter-spacing: $section-letter-spacing;
}

%header-style {
  @include text-style($header-font, $header-weight, $header-line-height);
}



%form {

  //form {
    //@include side-margins();

    label, input, button {
      // display: block;
      @extend %vertical-spacing;
    }

    label {
      background-color: invert($primary-color);
      @include border-radius($box-radius);
      display: inline-block;
      padding: 10px;
      @include break("tablet") {
        display: inline-block;
        @include side-margins(29%);
      }
      & + input[type="text"],
      & + input[type="email"],
      & + input[type="tel"],
      & + input[type="password"] {
        background-color: lighten(invert($primary-color), 20%);
        @include border-radius($box-radius);
        padding: $vertical-spacing $horizontal-spacing;
        border: 5px solid invert($primary-color);
        @include side-margins(100%);
        &:focus {
          background-color: white;
          outline: none;
        }
        @include break("tablet") {
          display: inline-block;
          @include side-margins(70%);
        }
      }
    }

    // input {
    //   background-color: lighten(invert($primary-color), 20%);
    //   @include border-radius($box-radius);
    //   padding: $vertical-spacing $horizontal-spacing;
    //   border: 5px solid invert($primary-color);
    //   @include side-margins(100%);
    //   &:focus {
    //     background-color: white;
    //     outline: none;
    //   }
    //   @include break("tablet") {
    //     display: inline-block;
    //     @include side-margins(70%);
    //   }
    // }

    // input[type="text"],
    // input[type="email"],
    // input[type="tel"],
    // input[type="password"] {
    //
    //   background-color: lighten(invert($primary-color), 20%);
    //   @include border-radius($box-radius);
    //   padding: $vertical-spacing $horizontal-spacing;
    //   border: 5px solid invert($primary-color);
    //   @include side-margins(100%);
    //   &:focus {
    //     background-color: white;
    //     outline: none;
    //   }
    //   @include break("tablet") {
    //     display: inline-block;
    //     @include side-margins(70%);
    //   }
    // }

    // input[type="submit"] {
    //   @include border-radius($box-radius);
    //   @extend %section-style;
    //   font-weight: bold;
    //   color: invert($primary-color);
    //   background-color: complement($primary-color);
    //   border: 5px solid invert($primary-color);
    //   @include side-margins(100%);
    //   cursor: pointer;
    //   text-decoration: none;
    //
    //   &:hover {
    //     color: lighten(invert($primary-color), 20%);
    //     border: 5px solid complement($primary-color);
    //   }
    //   &:active {
    //     color: $primary-color;
    //     outline: none;
    //   }
    //   &:focus {
    //     color: $primary-color;
    //     outline: none;
    //   }
    // }
  //}
}
