/*******************
  Widths
 *******************/

$main-width: 90%;
$horizontal-spacing: 2vw;

/*******************
  heights
 *******************/

$viewport-height: 100vh;
$footer-height: 5vh;
$container-height: .5vh + $viewport-height - $footer-height;
$container-height-mobile: $container-height - $footer-height;

$vertical-spacing: $footer-height/5;
$box-radius: .25rem;

/*******************
  Fonts
 *******************/

$text-font: 'EB Garamond', serif;
$text-weight: normal;

$header-font: 'Dancing Script', cursive;
$header-weight: 700;

/*******************
  Font sizes
 *******************/

$paragraph-size: $vertical-spacing * 2.25; /*16px;*/
$section-size: $vertical-spacing * 3;
$header-one-size: $vertical-spacing * 5;

/*******************
  Text spacing
 *******************/

$text-line-height: $vertical-spacing * 4;
$header-line-height: $text-line-height * 2;

$text-margins: $text-line-height;
$centering-margins: 0 auto;

$section-letter-spacing: $horizontal-spacing * .83 * .5; /*.83vm;*/
$section-transform: uppercase;

/*******************
  Color palette
 *******************/

$primary-color: tan;
$primary-reverse-color: white;
$primary-complement-color: complement($primary-color);

$main-background-color: invert($primary-color);
$site-background-color: $primary-reverse-color;



$header-footer-color: $primary-reverse-color;/*$site-background-color; */


/*******************
  Media queries
 *******************/

$footer-width: 210px;
$mobile-width: 400px;
$tablet-width: 769px;
$desktop-width: 1024px;

/*******************
  Section values
 *******************/

$main-padding: ($footer-height * 3) + ($vertical-spacing * 9) 0 $footer-height*2;
$main-padding-mobile: ($footer-height * 2) + ($vertical-spacing * 6) 0 $footer-height;
$main-padding-tablet: $footer-height + ($vertical-spacing * 3) 0 $footer-height;

/*******************
  Form values
 *******************/

$form-font: $text-font;
$form-weight: $text-weight;
$form-line-height: $text-line-height;
$form-radius: $box-radius;
$form-text-size: $paragraph-size;
$form-horizontal-spacing: $horizontal-spacing;
$form-vertical-spacing: $text-margins;
$form-focus-color: white;
